/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


  
  /* HTML5 display-role reset for older browsers */
  

  
  ol, ul {
    list-style: none;
  }
  
  blockquote, q {
    quotes: none;
  }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none;
    }
  }
  
  q {
    &:before, &:after {
      content: '';
      content: none;
    }
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .card-body {
    width: 100%;
    @media all and (max-width: 800px) {
      display: grid
    }
  }
  .card-header{
    border: 1px solid black;
    margin-left: 15px;
    padding-left: 6px;
  }
  .card-content{
    display: flex;
    margin-left: 16px;
    border: 1px solid black;
    @media all and (max-width: 800px) {
      display: grid
    }
  }
  .card-content-image{
    display: flex;
    margin-left: 16px;
    border:1px solid black;
    @media all and (max-width: 800px) {
      display: grid
    }
  }

  .image-container{}