<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>

    
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script
        src="https://kit.fontawesome.com/aca2d893d4.js"
        crossorigin="anonymous"
    ></script>
    
    <body>

        <main>
    



            <h1>Travel App</h1>
            <section id="#input">
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input class="destinationName" id="destinationName" type="url" name="test-url" value=""  placeholder="Enter destination name..">
                   
                  
                    <input
                    id="departureDate"
                    type="date"
                    name="departureDate"
                    required
                />
                <input class="button" type="submit" name="Search" value="Search" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">

                </form>

            <section>
            <section>
                <div id="travel-card"></div>
            </section>
        </main>


        <script>
                if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registration =>{
                        console.log('SW registered successfuly: ', registration);
                    });
                });
                }else{
                console.log("Service Working not supported");
                    }
        </script>

    </body>
</html>
