.grid-card-container {
    display: grid;
  }
  .grid-card-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  #card-blog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../imgs/homebkg.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;

  }

  a {
    text-decoration:none
  }

  .italic-line{
    font-weight: bold; font-style: italic; display: inline; color: purple
  }
  .description-box{
    padding: 30px; margin: 25px; border: 1px solid black;
  }
  .author-box {
    margin: 25px; margin-top: 5px; border: 1px solid black;
  }